# .NET
*.csproj
*.user
*.suo
*.cache
*.vspscc
*.vssscc
*.nupkg
*.log
*.userprefs
*.pidb
*.user
*.suo
*.sln.docstates
*.sln.ide
*.bak
*.bak.*
TestResults/
[TestrR]esult*/
[Nn]u[Gg]et/
*.ReSharper*
*.DotSettings*
*.sln.DotSettings
*.ReSharper.user
_ReSharper.*
Thumbs.db
ipch/
obj/
bin/
artifacts/
project.lock.json
*.sln.Ernest
[Rr]elease[Bb]in/
[Rr]elease/
[Rr]elease[Oo]bj/
[Pp]ackages/
[Bb]uild/
[Bb]uild[Ss]cript/
publish/
UpgradeLog*.htm
Results/
[Tt]est[Rr]esult*
*.publishsettings
*.pfx
*.Publish.xml
Session.vim
.vscode/
.vs/
*.jfm
*.local
*.local.*
.azds/
_*
infrastructure/.terraform.lock.hcl
infrastructure/main.tf
infrastructure/pipeline.yaml
infrastructure/terraform.tfstate
infrastructure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.58.0/windows_386/terraform-provider-azurerm_v3.58.0_x5.exe
